body, html {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #340e02;
}

.login-container {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.login-image {
    background:linear-gradient(to right, rgba(53, 15, 2, 0.38) 0%, rgba(53, 15, 2, 0.44) 40%, rgba(53, 15, 2, 0.92) 90%, rgb(53, 15, 2) 99%),
    url('../images/login_pic.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex: 1;
    min-height: 100vh;
}

.login-form-side {
    flex: 1;
    background: url('../images/formbox_pic.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #350f02;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-box {
    width: 50vh;
    background: rgb(255, 255, 255);
    padding: 2.5rem;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.74);
}

.form-label {
    font-weight: 500;
    color: #340e02;
}

.btn-login {
    background-color: #bf7f5b !important;
    border: 2px solid transparent !important;
    color: white !important;
    transition: all 0.3s ease;
}

.btn-login:hover {
    background-color: #7b533e !important;
    color: white !important;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.btn-login:focus {
    box-shadow: none !important;
    outline: none !important;
}

.border-top a {
    display: inline-block;
    transition: all 0.3s ease;
    font-weight: 400;
    opacity: 0.8;
}

.border-top a:hover {
    opacity: 1;
    color: white !important;
    text-shadow: 0.5px 0 0 currentColor;
    transform: translateX(-3px);
}

.alert-danger {
    background-color: rgba(220, 53, 69, 0.9);
    border: none;
    color: white;
    border-radius: 8px;
    font-size: 0.9rem;
    margin-bottom: 25px;
}

.alert-success {
    background-color: #d4edda;
    border: none;
    color: #155724;
    border-radius: 8px;
    font-size: 0.9rem;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 600;
}

.btn-close {
    filter: invert(1);
}

.back-link {
    color: #340e02;
    font-weight: 500;
    transition: color 0.3s ease;
}

div .back-link:hover {
    color: #340e02 !important;
}

@media (min-width: 768px) {
    .login-image {
        display: block;
    }
}