:root {
    --primary-brown: #7e553d;
    --accent-brown: #bf7f5b;
    --light-bg: #fdfaf8;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/listener.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
    min-height: 100vh;
}

.navbar {
    background-color: white;
    padding: 1rem 0;
    box-shadow: 0 2px 15px rgba(0,0,0,0.05);
}

.nav-link {
    color: #333 !important;
    font-weight: 500;
    font-size: 0.9rem;
    margin: 0 10px;
    transition: all 0.3s ease;
    position: relative;
}

.navbar-nav .nav-link:not(.user-info-text):hover {
    text-shadow: 0.5px 0 0 currentColor, -0.5px 0 0 currentColor;
}

.navbar-nav .nav-link:not(.user-info-text):after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--accent-brown);
    transition: width 0.3s ease;
}

.navbar-nav .nav-link:not(.user-info-text):hover::after {
    width: 100%;
}

.user-info-text {
    cursor: default !important;
    pointer-events: none;
    color: #666 !important;
}

.user-info-text b {
    color: var(--accent-brown) !important;
}

.btn-action {
    background-color: var(--accent-brown);
    color: white !important;
    border-radius: 5px;
    padding: 10px 25px;
    text-transform: uppercase;
    font-size: 0.85rem;
    transition: 0.3s;
}

.btn-action:hover {
    background-color: var(--primary-brown) !important;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.table-dark {
    background-color: var(--primary-brown) !important;
    border-color: var(--primary-brown) !important;
}

.card {
    border-color: var(--accent-brown) !important;
}

.card-header {
    background-color: var(--primary-brown) !important;
}

.btn-primary {
    background-color: var(--accent-brown) !important;
    border-color: var(--accent-brown) !important;
}

input {
    border: 2px solid #3f1c0a;
    border-radius: 4px;
    padding: 8px;
}

input:focus {
    outline: none;
    border-color: #5d2a0e;
    box-shadow: 0 0 5px rgba(63, 28, 10, 0.5);
}

.custom-btn {
    padding: 15px 40px;
    border-radius: 5px;
    width: auto;
    min-width: 200px;
    font-weight: bold;
    text-transform: uppercase;
    transition: transform 0.4s;
}

div .table-container {
    margin-top: 30px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    padding: 0px;
    border-radius: 10px;
    border: 1px solid #dee2e6;
    background-color: white;
    overflow: hidden;
}